extends ./layout/index

block contenido
  main.container.mt-5
    .row
      .col-md-5 
        img(src="img/nosotros.jpg", alt="", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit ex laoreet mi molestie, eu facilisis turpis posuere. Nulla vel leo eget massa dapibus aliquet id vel enim. Proin viverra viverra ligula et tincidunt. Duis aliquam efficitur pellentesque. Etiam aliquam est et est convallis, id interdum diam pharetra. Morbi nibh tellus, tempor sit amet condimentum sed, vestibulum at ligula.

        p Sed suscipit feugiat lorem vitae auctor. Etiam feugiat odio vel tristique sollicitudin. Sed a nisl id sapien suscipit ultrices. Maecenas varius est eu mi sagittis auctor. Nulla facilisi. Proin vulputate molestie nunc sit amet cursus. Nulla laoreet sagittis justo ut egestas. 

        p Curabitur condimentum tincidunt nunc. Sed porta, ligula quis gravida euismod, nibh risus interdum nibh, vitae tristique mauris massa et tellus. Quisque ut laoreet magna. Nullam vitae eleifend diam, vel varius tellus. Duis id lacus ornare, lobortis tellus ac, imperdiet metus. Nullam a leo convallis, tristique ex ut, porta eros. Sed mattis, mi quis pharetra elementum, enim massa ultrices dolor, ut vehicula nulla nisi eget metus. Mauris a augue quam. 
  
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Curabitur condimentum tincidunt nunc. Sed porta, ligula quis gravida euismod, nibh risus interdum nibh, vitae tristique mauris massa et tellus. 
        .col-md-4
          img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Mejores destinos
          p Curabitur condimentum tincidunt nunc. Sed porta, ligula quis gravida euismod, nibh risus interdum nibh, vitae tristique mauris massa et tellus. 
        .col-md-4
          img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
          h2.mb-4 Los mejores precios
          p Curabitur condimentum tincidunt nunc. Sed porta, ligula quis gravida euismod, nibh risus interdum nibh, vitae tristique mauris massa et tellus.     